@import "../../styles/variables.scss";
@import "../../styles/functions.scss";

nav {
	.filter-container {
		@include flexCenter(row);
		flex-wrap: wrap;
		width: 450px;

		button {
			@include tagDefault;
			cursor: pointer;
		}
		button:hover {
			@include tagTarget;
			cursor: pointer;
		}
		button[is-selected="true"] {
			@include tagTarget;
			cursor: pointer;
		}
	}
}
