@import "../../styles/variables.scss";
@import "../../styles/functions.scss";

.card-container {
	@include flexCenter(column);
	justify-content: space-between;
	margin: 1em 2em;
	width: 320px;
	@include phone {
		margin: 0.5em 1em;
	}

	.img-container {
		height: 200px;
		width: 200px;
		border-radius: 50%;
		box-shadow: 2px 2px 2px 2px rgba(235, 235, 235, 0.377);

		@include flexCenter(column);

		img {
			object-fit: cover;
			width: 100%;
			height: 100%;
			border-radius: 50%;
		}
	}

	.photographer-details {
		@include flexCenter(column);

		.name {
			color: $secondary-color;
			margin: 0.5em;
			flex-wrap: nowrap;
			text-decoration: none;

			@include phone {
				margin: 0.1em;
			}
		}
		.location {
			margin: 0;
		}
	}

	.tagline {
		margin: 0.5em;
		@include phone {
			margin: 0.1em;
		}
	}
	.price {
		color: $tertiary-color;
		margin: 0.2em;
		@include phone {
			margin: 0em;
		}
	}

	.tags-container {
		@include flexCenter(row);
		.tags {
			@include tagDefault;
			padding: 0 0.5em;
			@include phone {
				font-size: 0.9em;
			}
		}
		span[is-selected="true"] {
			@include tagTarget;
		}
	}
}
