@import "../../styles/variables.scss";
@import "../../styles/functions.scss";

.modal-container {
	position: fixed;
	top: 50%;
	left: 50%;
	width: 350px;
	padding: 15px 20px 20px 20px;

	transform: translate(-50%, -50%);
	background-color: $quaternary-color;
	border-radius: 5px;
	z-index: 100;
	@include flexCenter(column);

	.modal-cross {
		font-size: 32px;
		color: #fff;
		position: fixed;
		top: 5%;
		right: 10%;
		background-color: transparent;
		border: none;
		align-self: flex-end;
		cursor: pointer;
	}

	.contact-form {
		@include flexCenter(column);
		align-self: flex-start;

		.form-title {
			align-self: flex-start;
			margin: 0 0em 0.75em 0em;
			h1,
			h2 {
				font-size: 2em;
				font-weight: 500;
				margin: 0;
			}
		}

		.user-details {
			@include flexCenter(column);
			align-self: flex-start;

			label {
				color: #312e2e;
				font-weight: 500;
				font-size: 1.2em;
				align-self: flex-start;
				margin: 0.05em 0;
			}
			input {
				align-self: flex-start;
				font-size: 1em;
				width: 320px;
				height: 30px;
				border: none;
				border-radius: 5px;
			}
			textarea {
				font-size: 1em;
				font-family: sans-serif;
				width: 320px;
				border: none;
				border-radius: 5px;
				resize: none;
				align-self: flex-start;
			}
			.submit-btn-input {
				@include btnDefault;
				font-weight: 500;
				padding: 0.5em 1em;
				position: relative;
				margin: 0.5em 0;
				align-self: flex-start;
			}
		}
	}
}
