@import "../../styles/variables.scss";
@import "../../styles/functions.scss";

.media-card {
	margin: 1em 2em;

	.content-backdrop {
		@include flexCenter(none);
		background-color: black;
		border-radius: 5px;
		height: 300px;
		width: 300px;

		img {
			object-fit: cover;
			border-radius: 5px;
			height: 100%;
			width: 100%;
		}

		video {
			height: 100%;
			width: 100%;
			border-radius: 5px;
		}
	}

	.media-details {
		@include flexCenter(row);
		color: $primary-color;
		font-size: 1em;
		margin: 0;
		width: 300px;
		justify-content: space-between;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;

		.content-title {
			width: 75%;
			overflow: hidden;
			align-items: flex-start;
			text-overflow: ellipsis;
		}
		.likes-container {
			.likes {
				margin: 0 5px;
			}
			.heart-icon:hover {
				color: $quaternary-color;
				cursor: pointer;
			}
			.heart-icon:focus {
				color: $quaternary-color;
			}
		}
	}
}
