@import "../../styles/functions.scss";
@import "../../styles/variables.scss";

.content-container {
	@include flexCenter(row);
	width: 90%;
	margin: 0 auto;
	// justify-content: space-between;
	flex-wrap: wrap;
}
