@import "../../styles/functions.scss";
@import "../../styles/variables.scss";

.l-container {
	@include flexCenter(row);
	justify-content: flex-start;
	width: 76%;
	margin: 0 auto;
	@include tablet {
		width: 100%;
	}
	@include phone {
		width: 100%;
	}
}

.content-container {
	@include flexCenter(row);
	justify-content: space-between;
	width: 90%;
	margin: 0 auto;
	// justify-content: space-between;
	flex-wrap: wrap;

	@include phone {
		justify-content: center;
		margin: 0 auto;
		width: auto;
		align-items: center;
		justify-items: center;
	}
	@include tablet {
		justify-content: space-around;
		margin: 0;
		width: auto;
		align-items: center;
		justify-items: center;
	}
	@include laptop {
		justify-content: space-around;
		margin: 0;
		width: auto;
		align-items: center;
		justify-items: center;
	}
}

#SRLLightbox {
	.SRLStage {
		@include phone {
			background-color: white;
		}
		@include tablet {
			background-color: rgba(255, 255, 255, 0.486);
		}
	}
}
